*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(/Imagens/background.jpg);
    background-size: cover;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    padding: 5px;
    background-color: rgb(31, 31, 31);
    box-shadow: 1px 1px 4px black;
}

.cabecalho-menu {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.cabecalho-menu-logo {
    width: 50px;
    height: 50px;
}

.cabecalho-menu-itens {
    text-decoration: none;
    color: inherit;
    color: white;
}

/* cor quando o mouse estiver sobre os items da navbar */
.cabecalho-menu-itens:hover {
    color: #E54E4E;
}

.cabecalho-menu-botoes {
    margin-left: 1220px;
}

.cabecalho-menu-botao-cadastro {
    border: none;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 2px;
    transition-duration: 0.3s;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
}

/* cor quando mouse estiver sobre o botao */
.cabecalho-menu-botao-cadastro:hover {
    background-color: rgb(133, 133, 133);
    color: white;
}

.cabecalho-menu-botao-entrar{
    border: none;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 2px;
    transition-duration: 0.3s;
    cursor: pointer;
    background-color: #E54E4E;
}

.cabecalho-menu-botao-entrar:hover {
    background-color:  rgb(80, 0, 0);
    color: white;
}

.menu {
    margin-bottom: 48px;
}

.menu-titulo {
    font-size: 60px;
    color: rgb(0, 0, 0);
}

.menu-botao {
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 10px 2px;
    transition-duration: 0.3s;
    cursor: pointer;
    background-color: #E54E4E;
    display: flex;
}

.menu-botao:hover {
    background-color: rgb(80, 0, 0);
}