.botoes {
    border: none;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgb(255, 0, 0);
}

/* cor quando mouse estiver sobre o botao */
button:hover.botoes {
    background-color: rgba(255, 0, 0, 0.185);
    color: white;
}

.navitems {
    text-decoration: none;
    color: inherit;
}

/* cor quando o mouse estiver sobre os items da navbar */
a:hover.navitems {
    color: rgb(248, 10, 10);
}