*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/Imagens/background.jpg);
    background-size: cover;
}

.cabecalho {
    background-color: rgb(32, 32, 32);
    box-shadow: 1px 1px 4px black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
}

.cabecalho-menu {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 32px;
}

.cabecalho-menu-logo {
    width: 70px;
    height: 70px;
}

.cabecalho-menu-itens {
    text-decoration: none;
    color: inherit;
    color: white;
}

/* cor quando o mouse estiver sobre os items da navbar */
.cabecalho-menu-itens:hover {
    color: #E54E4E;
}

.cabecalho-menu-botoes {
    align-items: right;
    justify-content: space-between;
}

.cabecalho-menu-botao-cadastro {
    border: none;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 2px;
    transition-duration: 0.3s;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
}

/* cor quando mouse estiver sobre o botao */
.cabecalho-menu-botao-cadastro:hover {
    background-color: rgb(133, 133, 133);
    color: white;
}

.cabecalho-menu-botao-entrar{
    border: none;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 2px;
    transition-duration: 0.3s;
    cursor: pointer;
    background-color: #E54E4E;
}

.cabecalho-menu-botao-entrar:hover {
    background-color:  rgb(80, 0, 0);
    color: white;
}

.conteiner-menu {
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    margin-bottom: 48px;
}

.menu-titulo {
    font-size: 60px;
    color: rgb(255, 255, 255);
}

.menu-titulo2 {
    color: #ffffff;
}

.menu-titulo2-escrito {
    display: flex;
    justify-content: center;
}

#menu-titulo-adote {
    color: #E54E4E;
    display: flex;
    justify-content: center;
    text-shadow: 0.1em 0.1em 0.1em black;
    padding: 20px;
    border-radius: 200px;
    border-bottom: 5px
}


.conteiner-conteudo {
    margin-top: 140px;
    background-color: rgb()31, 31, 31;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.conteudo-escrito {
    text-align: center;
    border-radius: 50px;
    color: #ffffff;
    background-color: rgb(32,32,32);
    border-bottom: 0.4px solid #fff2f2;
}

.conteudo-animal {
    border-top: 0.4px solid #fff2f2;
    width: 450px;
    height: 400px;
    padding: 5px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.conteudo-escrito:hover {
    width: 400;
    height: 350;
    background-color: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
}

@media (max-width: 1440px) {
    
    .cabecalho {
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    .cabecalho-menu {
        gap: 5px;
    }

    .cabecalho-menu-itens{
        padding: 10px 30px;
    }

    .esquerda {
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .direita {
    
        color: aliceblue;
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    }
}