body {
    margin: 0%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/Imagens/background-login.jpg);
    background-size: cover;
}

.main-login {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.section-login-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgb(32,32,32);
    height: 937px;
    width: 300px;
}

.inicio {
    font-size: 30px;
    color: white;
    text-decoration: none;
    padding-top: 40px;
    font-weight: bold
}

.inicio:hover {
    color: rgb(90, 90, 90);
}

.div-logo {
    margin-top: 0em;
}

.logo {
    height: 300px;
    width: 300px;
    margin-right: 11px;
}

.div-melhor-rede {
    margin-bottom: 3em;
}

.div-bemvindo {
    margin-bottom: -1em;
}

.div-cadastrar-p {
    margin-bottom: 1em;
}

.div-cadastrar-escrita{
    text-align: center;
}

.button-cadastrar {
    width: 150px;
    height: 50px;
    text-decoration: none;
    padding: 0.5em 2em;
    border-radius: 25px;
    border-color: white;
    background-color: black;
    color: white;
    border: 1.5px solid white;
}

.button-entrar:hover {
    background-color: rgb(90, 90, 90);
}

.section-login-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.div-login-conta {
    font-size: 30px;
    padding-top: 4em;
    color: white;
    text-shadow: 0.1em 0.1em 0.2em black;
}

.div-inputs {
    display: flex;
    flex-direction: column;
    padding-top: 3em;
}

input {
    width: 300px;
    height: 40px;
    padding: 10px 18em 10px 10px;
    margin-bottom: 1.5em;
    border: none;
    border-radius: 20px;
    background-color: #f5f2f2;
}

.button-entrar {
    font-size: 20px;
    margin-top: 2em;
    padding: 1em 2.5em;
    border-radius: 30px;
    border-color: white;
    background-color: black;
    color: white;

}

.button-cadastrar:hover {
    background-color: rgb(90, 90, 90);
}

@media (max-width: 1440px) {
    .section-login-1 {
        height: 788px;
    }
}